<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://kit.fontawesome.com/368cffb57c.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/styles.css">

    <meta name="viewport" content="width = device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/368cffb57c.js" crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <title>Mercado Liebre </title>
</head>

<body>

</body>
<header class="main-header">
    <div class="main-header-top">
        <img src="/images/logo-jpg.jpg" class="logo">
        <h2 class="copy-header">
            <i class="fas fa-hand-holding-usd"></i>
            Comprá en cuotas y sin tarjeta de crédito
        </h2>
    </div>
    <div class="barra-busqueda"> <i class="fas fa-search"></i><input class="buscador" type="text"
            placeholder="Buscar productos, marcas" class="text-center">
    </div> <br>
    <a href="#" class="hamburger-button">
        <i class="fas fa-bars"></i>
    </a>
    <nav class="main-navbar">
        <ul class="left-navbar">
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas Oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
        </ul>
        <ul class="right-navbar">
            <li><a href="/register">Creá tu cuenta <i class="fas fa-credit-card"></i></a></li>
            <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
            <li><a href="#">Mis compras <i class="fas fa-shopping-cart"></i></a></li>
        </ul>
    </nav>
</header>


<form action="/crear-producto" method="POST" class="create-form">
    <div class="control-formulario">
        <label> Nombre del producto:</label>
        <input type="text" name="nombre" class="control">
    </div>
    <div class="control-formulario">
        <label> Precio: </label>
        <input type="text" name="precio" placeholder="123.50" class="control">
    </div>
    <div class="control-formulario">
        <label> Categoría: </label>
        <select name="categoria" class="control">
            <option value="hogar"> Hogar</option>
            <option value="electro">Electro</option>
            <option value="indumentaria">Indumentaria</option>
        </select>
    </div>
    <div class="control-formulario">
        <label> Ciudad: </label>
        <select name="Ciudad" class="control">
            <option value="baires">Buenos Aires</option>
            <option value="rosario">Rosario</option>
            <option value="mndza">Mendoza</option>
        </select>
    </div>
    <div class="control-formulario">
        <label> Descripción</label>

        <textarea name="descripcion" class="control"> </textarea>
    </div>
    <div class="control-formulario">
        <label>Está en oferta:</label>
        <input type="radio" name="enOferta">
    </div>

    <button type="reset" class="buttom-form">Borrar</button>
    <button type="submit" class=buttom-form>Guardar </button>
</form>

<main>
    <div class = "contenedor">
        <div class="titulares">
            <h4>Sección: Basado en tu última visita</h4>
            <div class="articulos">
                <div class="imagenes">
                    <img src="/images/cafetera.jpg" alt=" Cafetera Moulinex" width=“300” height="300">
                </div>

                <div class="subcaja-articulos">
                    <i class="fas fa-truck"></i>
                    <p class="precios"> $6.770 </p>
                    <p class="descuentos">40% OFF</p>
                    <h5 class="descripciones">Cafetera Moulinex</h5>
                </div>

            </div>
            <div class="articulos">
                <div class="imagenes">
                    <img src="/images/mac.jpg" alt="MacBook Pro 2019" width=“300” height="300">

                </div>
                <div class="subcaja-articulos">
                    <i class="fas fa-truck"></i>
                    <p class="precios">$230.000 </p>
                    <p class="descuentos">20% OFF</p>
                    <h5 class="descripciones">MacBook Pro 2019</h5>
                </div>
            </div>

            <div class="articulos">
                <div class="imagenes">
                    <img src="/images/celu.jpg" alt=" Samsung Galazy S10" width=“300” height="300">

                </div>
                <div class="subcaja-articulos">
                    <i class="fas fa-truck"></i>
                    <p class="precios">$70.500 </p>
                    <p class="descuentos">10% OFF</p>
                    <h5 div class="descripciones">Samsung Galaxy S10</h5>
                </div>
            </div>

            <div class="articulos">
                <div class="imagenes">

                    <img src="/images/tele.jpg" alt="SmartTv Samsung 43" width=“300” height="300">
                </div>


                <div class="subcaja-articulos">
                    <i class="fas fa-truck"></i>
                    <p class="precios">$23.200 </p>
                    <p class="descuentos">5% OFF</p>
                    <h5 div class="descripciones">SmartTv Samsung 43"</h5>
                </div>
            </div>

            <div class="seccion-ofertas">
                <div class="titulares">
                    <h4>Sección de Ofertas</h4>
                    <div class="articulos">
                        <div class="imagenes">
                            <img src="/images/cafetera.jpg" alt=" Cafetera Moulinex" width=“300” height="300">

                        </div>
                        <div class="subcaja-articulos">
                            <i class="fas fa-truck"></i>
                            <p class="precios">$6.770 </p>
                            <p class="descuentos">40% OFF</p>
                            <h5 div class="descripciones">Cafetera Moulinex</h5>
                        </div>
                    </div>

                    <div class="articulos">
                        <div class="imagenes">
                            <img src="/images/mac.jpg" alt="MacBook Pro 2019" width=“300” height="300">
                        </div>
                        <div class="subcaja-articulos">
                            <i class="fas fa-truck"></i>
                            <p class="precios">$230.000 </p>
                            <p class="descuentos">20% OFF</p>
                            <h5 div class="descripciones">MacBook Pro 2019</h5>
                        </div>
                    </div>
                </div>

                <div class="articulos">
                    <div class="imagenes">
                        <div class="imagenes">
                            <img src="/images/celu.jpg" alt=" Samsung Galazy S10" width=“300” height="300">
                        </div>
                    </div>
                    <div class="subcaja-articulos">
                        <i class="fas fa-truck"></i>
                        <p class="precios">$70.500 </p>
                        <p class="descuentos">10% OFF</p>
                        <div class="descripciones">
                            <h5>Samsung Galaxy S10</h5>
                        </div>
                    </div>
                </div>
                <div class="articulos">
                    <div class="imagenes">

                        <img src="/images/tele.jpg" alt="SmartTv Samsung 43" width=“300” height="300">
                    </div>

                    <div class="subcaja-articulos">
                        <i class="fas fa-truck"></i>
                        <p class="precios">$23.200 </p>
                        <p class="descuentos">5% OFF</p>
                        <h5 class="descripciones">SmartTv Samsung 43"</h5>
                    </div>
                </div>
            </div>

        </div>
    </div>
</main>
<footer>
    <div class=cuerpoTexto>
        <div class=iconos> <i class="fas fa-credit-card"></i> </div>
        <h3 class="texto">Pagá con tarjeta o en efectivo</h3>
        <div>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es
                seguro!</p>
            <div class=iconos> <i class="fas fa-gift"></i> </div>

            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de
                Mercado Puntos.</p>

            <div class=iconos>
                <div class=iconos> <i class="fas fa-gift"></i> </div>
            </div>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                protegid@.</p>

            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </div>

</footer>

</html>