<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header class="main-header">
        <div class="main-header-top">
            <img src="/img/logo-mercado-liebre.svg" class="logo">
            <h2 class="copy-header">
                <i class="fas fa-hand-holding-usd"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </h2>
        </div>
        <a href="#" class="hamburger-button">
            <i class="fas fa-bars"></i>
        </a>
        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="right-navbar">
                <li><a href="#">Creá tu cuenta <i class="fas fa-credit-card"></i></a></li>
                <li><a href="#">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis compras <i class="fas fa-shopping-cart"></i></a></li>
            </ul>
        </nav>
    </header>


    <!-- formulario-->
    <form action="/crear-producto" method="POST" class="create-form">
        <div>
            <label> Nombre del producto:</label>
            <input type="text" name="nombre">
        </div>
        <div>
            <label> Precio: </label>
            <input type="text" name="precio" placeholder="123.50">
        </div>
        <div>
            <label> Categoría: </label>
            <select name="categoria">
                <option value="hogar"> Hogar</option>
                <option value="electro">Electro</option>
                <option value="indumentaria">Indumentaria</option>
            </select>
        </div>
        <div>
            <label> Ciudad: </label>
            <select name="Ciudad">
                <option value="baires">Buenos Aires</option>
                <option value="rosario">Rosario</option>
                <option value="mndza">Mendoza</option>
            </select>
        </div>
        <div>
            <label> Descripción</label>
            <textarea name="descripcion"></textarea>
        </div>
        <div>
            <label>Está en oferta:</label>
            <input type="radio" name="enOferta">
        </div>

        <button type="reset">Borrar</button>
        <button type= "submit">Guardar</button>
    </form>
</body>

</html>