<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/formularios.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class= "formulario-register">
    <a href="/views/home.html">Ver ejemplo 5</a>
    <form action="/resultado.html" method="GET">
        <p>

            <input type="text" minlength= 5 name="nombre" required placeholder="Nombre y Apellido">
        </p>

        <p>
            <input type="text" minlength= 5 name="usuario" required placeholder="Nombre de Usuario">
        </p>
        <p>
            <input type="email" minlength= 10 name="email" required placeholder="E-mail">
        </p>
        <h4>Fecha de nacimiento </h4>
        <input type="date" name="fecha" value="2021-07-19">

        <p>
            <input type="text" name="domicilio" required placeholder="Domicilio">
        </p>
        <h4> Perfil de Usuario</h4>
        <input type="radio" name="radio-input" value="comprador" id="comprador" checked>
        <label for="comprador"> Comprador</label>

        <input type="radio" name="radio-input" value="vendedor" id="vendedor">
        <label for="vendedor"> Vendedor </label>

        <h5>Intereses</h5>
        <input type="checkbox" name="electro" value="Electro">
        <label for="electro"> Electro </label>
        <br>

        <input type="checkbox" name="moda" value="Moda">
        <label for="moda"> Moda </label>
        <br>
        <input type="checkbox" name="hogar" value="Hogar">
        <label for="hogar"> Hogar </label>
        <br>
        <input type="checkbox" name="jugueteria" value="Juguetería">
        <label for="jugueteria"> Juguetería</label>
        <br>
        
        <input type="checkbox" name="vida-sana" value="Vida sana">
        <label for="vida-sana"> Vida sana</label>
        <br>
    </div>
</body>

</html>